<a href="https://colab.research.google.com/github/qwlrn/Prmn2023a/blob/main/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
# 入力用
import random
a=[]
for i in range(5):
  x=random.randrange(10,2800,10)
  y=2220000+x
  a.append('b'+str(y))
print(a)

['b2220980', 'b2221320', 'b2220660', 'b2221190', 'b2221560']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [ ]:
# 入力用
import random
import numpy as np
def rand_check(a,b,c):
  n=[]
  while(len(n)<c):
    t=random.randint(a,b)
    if not t in n:
      n.append(t)
  return n


n=np.array(rand_check(1,9,5))
m=np.array(rand_check(1,9,5))
print('リスト1',n)
print('リスト2',m)
s=n+m
print('足し合わせたリスト',s)

リスト1 [2 7 6 3 8]
リスト2 [8 7 6 5 3]
足し合わせたリスト [10 14 12  8 11]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
# 入力用
import random
a=[]
random.shuffle(todohuken_list)
for i in range(0,len(todohuken_list),4):
  a.append(todohuken_list[i:i+4])

print(a)

[['大分県', '長崎県', '島根県', '鹿児島県'], ['兵庫県', '宮城県', '大阪府', '山口県'], ['奈良県', '岡山県', '愛媛県', '徳島県'], ['青森県', '岩手県', '鳥取県', '群馬県'], ['熊本県', '神奈川県', '広島県', '宮崎県'], ['埼玉県', '山形県', '福井県', '新潟県'], ['愛知県', '滋賀県', '茨城県', '富山県'], ['東京都', '千葉県', '高知県', '和歌山県'], ['岐阜県', '香川県', '北海道', '石川県'], ['山梨県', '三重県', '静岡県', '佐賀県'], ['京都府', '秋田県', '栃木県', '福岡県'], ['沖縄県', '長野県', '福島県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [2]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [6]:
# 入力用
dic={}
a=[]
b=[]
c=[]
for i in range(len(university_list)):
 dic[int(university_list[i].split(",")[1])]=university_list[i]
 a.append(int(university_list[i].split(",")[1]))
b=sorted(a)
for i in range(len(university_list)):
  c.append(dic[b[i]])
print(c)

['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [ ]:
# 入力用
N=100
FizzBazz=[]
Fizz=[]
Bazz=[]
other=[]
for i in range(N):
  f=(i+1)%3
  b=(i+1)%5
  if(f==0 and b==0):
    FizzBazz.append(i+1)
  elif(f==0 and b!=0):
    Fizz.append(i+1)
  elif(b==0 and f!=0):
    Bazz.append(i+1)
  else:
    other.append(i+1)
  
print('FizzBazzの数:{}'.format(len(FizzBazz)))
print('Fizzの数:{}'.format(len(Fizz)))
print('Bazzの数:{}'.format(len(Bazz)))
print('otherの数:{}'.format(len(other)))

FizzBazzの数:6
Fizzの数:27
Bazzの数:14
otherの数:53